<div id="signin">

	<section class="loginform cf">
    <label for="username">UserName</label>
    <input id="username" type="" name="" placeholder="user name" required>
    <label for="password">Password</label>
    <input id="psw" type="password" name="password" placeholder="password" required>
    <button id="login" type="" value="">LOG IN</button>
	</section>

</div>